
.task{
    width: 300px;
    height: 170px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    box-shadow: 2px 2px 2px 1px   rgb(112, 112, 112);
    border: 2px solid rgb(235, 154, 154);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;
    .header{  flex:1 1 25%;
        background-color: rgb(243, 240, 240);
        border-top-left-radius:15px ;
        border-top-right-radius:15px ;  
        padding: 5px;
        .title{
            font-size: 18px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden ;
            text-overflow: ellipsis;
        }
        .date{
            font-size: 12px;
            color: gray;
        }
    }
    .body{  flex:1 1 60%;
        padding: 5px;
        .decription{
            font-size: 16px;
            overflow: hidden ;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
                    line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
    .footer{
        flex:1 1 15%;
        border-bottom-left-radius:5px ;
        border-bottom-right-radius:5px ;
        background-color: rgb(243, 240, 240);
        display: flex;
        align-items: center;
        .circle{
            width: 10px;
            height: 10px;
            border-radius: 50px;
            display: inline-block;
            margin-left: 10px;
        }
        .greenColor{
            border: green 1px solid;
        }
        .orangeColor{
            border: orange 1px solid;
        }
        .redColor{
            border: red 1px solid;
        }
    }
}
.greenbng{

    background-color: green;
}
.redbng{

    background-color: red;
}
.yellowbng{

    background-color: yellow;
}
.isDrag{
    // background-color: red;
    // opacity: 0.9;
}
