.title{
    font-size: 40px;
    line-height: 62px;
    margin-top: 15px;
    margin-left : 15px;
    margin-bottom: 20px;
}   

.body{
    .status{
       
        flex:none;
        width: 100%;
        font-size: 24px;
        line-height: 30px;
        color:white;
        text-align: center;
        padding-top:20px ;
        background-color: rgb(231, 133, 133);
        padding-bottom:20px ;
        border-radius: 20px;
        box-shadow: 0px 5px 5px  rgb(95, 59, 59);
    }
    .workspace{
        display: flex;
        justify-content: space-around;
        margin-top: -15px;
        .columnStatus{   
            display: flex;
            flex-direction: column; 
            align-items: center;
            border-radius: 20px;    
            background-color: rgb(189, 189, 189);
            flex: 0 1 30%;
            min-height: 700px;
        }
    }
}

.workspace{

    display: flex;
    justify-content: space-around;
}