.comment{

    margin: 10px;
    box-shadow: inset 0px 0px 5px 0px #888787;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    min-height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 14px;

    
}