
.mainModal{
    position: absolute;
    border: 1px solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
    width: 1280px ;
    border-radius: 30px;
    height: 700px;
    scale: 0;
    transition: 0.425s;
    box-shadow: 2vw 2vw 50vw 10vw  rgba(0, 0, 0, 0.253) ;
    .header{
        border-bottom: 1px solid black;
        // min-height: 70px;
        display: flex;
        justify-content: space-between;
       
        padding: 10px 10px 10px 25px;
        .title_block{
            display: flex;
        }
        .title{
            font-size: 46px;
            text-align: left;
            line-height: 52px;
        }
        .closeModal{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        .priority{
            // flex:1 1 15%;
            display: flex;
             align-items: flex-end;
            .circle{
                width: 30px;
                height: 30px;
                border-radius: 50px;
                display: inline-block;
                margin-left: 10px;
                margin-bottom: 5px ;
            }
            .greenColor{
                border: green 1px solid;
            }
            .orangeColor{
                border: rgb(255, 214, 138) 1px solid;
            }
            .redColor{
                border: red 1px solid;
            }
            .greenbng{

                background-color: green;
            }
            .redbng{
            
                background-color: red;
            }
            .yellowbng{
            
                background-color: yellow;
            }
        }
    }
}
.body{
    display: flex;
    text-align: left;
    justify-content: space-between;
    textarea{
        resize: none;
        padding: 5px;
        font-style: italic;
        height: 200px;
        width: 80%;
        border-radius: 5px;
        font-size: 20px;
        background-color: rgb(243, 243, 243);
        box-shadow: inset 0px 0px 5px 0px #888787;
    }
    input{
        box-shadow: inset 0px 0px 5px 0px #888787;
        background-color: rgb(243, 243, 243);
        border-radius: 15px;
        height: 40px;
        width: 80%;
        padding: 5px 5px 5px 10px;
        font-size: 24px;
        margin: 0px 5px 0px 5px ;
    }
    .title_point{
        color: rgb(163, 163, 163);
        margin: 15px 5px 5px 10px ;
    }
    .leftside{
        padding: 10px 5px 10px 25px;
        flex: 1 1 60%;
     
    }
    .rightside{
        flex: 1 1 30%;
      
    }
    .title_point{
        font-size: 20px;
    }
}
.showModal{
   scale: 1; 
}
